.ebody{
    height: 200px;
    width: 400px;
    position: absolute;
    margin-left: 500px;
    margin-top: 380px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #F7F8F9;
}

.content p{
    font-size: 25px;
    padding-left: 65px;
    font-weight: 600;
}

.icon{
    margin-top: 121px;
    height: 36px;
    background-color: #8f9192;
    border-radius: 15px;
}
