$bgcolor:  rgb(0, 0, 0, 0.65);
$text-color: #fff;
$bg2color:#343434;


*{
    margin: 0;
}
.bodys{
	position: relative;
	z-index: 2;
	width: 350px;
	height:350px;
    background-image:  linear-gradient(rgb(36, 111, 155), rgb(184, 194, 42));;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	text-align: left;
	padding: 10px;
}

.container{
	background-image: url('https://wallpaper.dog/large/10716308.jpg');
	height: 100%;
	position: fixed;
	width: 100%;
}

.logo{
	margin-top: 40px;
	margin-left: 30px;
}

.sign{
    justify-content: center;
	padding-left: 30px;
    padding-top:0px;   
}

.inputs{
	margin-top: 20px;
	height:25px;
	border-radius: 10px;

}

.btn{
	margin-top: 20px;
	margin-left: 50px;
	cursor:pointer;
	width: 80px;
	height: 30px;
	border-radius: 15px;
}

a{
	padding-left: 30px;
	padding-top: 50px;
}
.signup{
	padding-top: 5px;
	text-decoration: none;
	color: black;
	font-weight: 600;
	font-size: 21px;
}