.cbody{
    background-color: #F7F8F9;
    height: 600px;
    margin-top: 120px;
    width: 340px;
    margin-left: 20px;
    position: fixed;
}


.calendar{
    margin-top: 60px;
    
    margin-left: 10px;
    width: 300px;
}